[Desktop Entry]
Type=Service
Name=AppImage
X-KDE-Library=appimage-fileitemactions
X-KDE-Submenu=AppImage


Icon=appimage
ServiceTypes=KFileItemAction/Plugin
MimeType=application/x-iso9660-appimage;application/x-appimage;application/vnd.appimage;
